@use 'sass:map';
@use '@angular/material' as mat;

// color mixin
@mixin color($theme) {
   .not-found-page {
      color: mat.get-theme-color($theme, accent, 200-contrast);
      background-color: mat.get-theme-color($theme, accent, 200);
   }
}
// typography mixin
@mixin typography($theme) {
   .not-found-page {
      font: mat.get-theme-typography($theme, headline-1);
   }
}

// theme mixin
@mixin theme($theme) {
   @if mat.theme-has($theme, color) {
      @include color($theme);
   }

   @if mat.theme-has($theme, typography) {
      @include typography($theme);
   }
}
